
     
body {
    margin: 0;
    overflow: hidden;
    background-color: #fff;
    height: 100vh;
    cursor: crosshair;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#wizard {
    width: 32px; 
    height: 32px; 
    background-image: url('wizaart-img.56787174.gif'); 
    background-size: cover;
    position: absolute;
    transition: transform 2s, scaleX 0.5s; 
    transform-origin: center; 
}
