body {
    margin: 0;
    overflow: hidden;
    background-color: #fff;
    height: 100vh;
    cursor: crosshair;
    position: relative;
}

#wizard {
    width: 32px; /* Reduced size */
    height: 32px; /* Reduced size */
    background-image: url('wizaart-img.56787174.gif'); /* Path to your wizard image */
    background-size: cover;
    position: absolute;
    transition: left 2s, top 2s, transform 0.5s;
}